<h1>掲載している英文一覧</h1>

<div>
  <h2>難易度を選択してください</h2>
  <% @difficulty_levels.each do |level| %>
    <%= link_to level.capitalize, "##{level}", class: 'btn btn-primary' %>
  <% end %>
</div>

<div>
  <h2>検索</h2>
  <%= form_with url: articles_path, method: :get, local: true do %>
    <input type="text" name="search" id="search-input" placeholder="検索する英文を入力">
    <button type="submit" class="btn btn-primary">検索</button>
    <%= link_to 'リセット', articles_path, class: 'btn btn-secondary' %>
  <% end %>
</div>

<% @articles_by_difficulty.each do |difficulty, articles| %>
  <h2 id="<%= difficulty %>"><%= difficulty.capitalize %></h2>
  <div class="articles-list" data-difficulty="<%= difficulty %>">
    <% articles.each do |article| %>
      <div class="article">
        <h3><%= article.content %></h3>
        <p><%= article.translation %></p>
        <%= link_to '解説を見る', explanation_article_path(article), class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to '戻る', root_path, class: 'btn btn-secondary' %>

<style>
  .btn-primary {
    margin-right: 5px;
  }
  .article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #231919;
    border-radius: 5px;
    background-color: #1c1717;
  }
</style>